Repository ansys/python-installer-qt-gui, pull requests merged in 2023-06, with the labels that each got.

#117 feat: adding kmahajan-cadfem as contributor + missing metadata
  AUTHORS.md
  frozen.spec
Labels: enhancement

#119 fix: issue with Ansys Python installs
  src/ansys/tools/installer/find_python.py
Labels: bug

#122 feat: update PyAnsys libs available
  src/ansys/tools/installer/constants.py
Labels: enhancement

#128 User guide for Ansys Python Manager
  doc/source/_static/ansys_python_manager.PNG
  doc/source/_static/create_venv_tab.PNG
  doc/source/_static/general_pkg_management.PNG
  doc/source/_static/launch_options.PNG
  doc/source/_static/manage_venv_tab.PNG
  doc/source/_static/pyansys_documentation.PNG
  doc/source/_static/pyansys_pkg_management.PNG
  doc/source/index.rst
  doc/source/user_guide.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation
