Repository ansys/python-installer-qt-gui, pull requests merged in 2023-04, with the labels that each got.

#89 feat: include PyAnsys docs section
  src/ansys/tools/installer/constants.py
  src/ansys/tools/installer/create_virtual_environment.py
  src/ansys/tools/installer/main.py
  src/ansys/tools/installer/misc.py
Labels: enhancement

#90 feat: enable pre-commit.ci and add badges
  .github/workflows/ci_cd.yml
  README.rst
  doc/make.bat
  doc/source/index.rst
  src/ansys/tools/installer/auto_updater.py
  tests/test_auto_updater.py
Labels: documentation, enhancement, maintenance

#88 Add linux support
  .pre-commit-config.yaml
  Makefile
  make.bat
  pyproject.toml
  src/ansys/tools/installer/common.py
  src/ansys/tools/installer/constants.py
  src/ansys/tools/installer/find_python.py
  src/ansys/tools/installer/installed_table.py
  src/ansys/tools/installer/main.py
Labels: enhancement, maintenance

#91 feat: fallback method for Windows without requests lib
  src/ansys/tools/installer/main.py
Labels: enhancement
