Repository ansys/python-installer-qt-gui, pull requests merged in 2024-04, with the labels that each got.

#245 Remove python installation as part of Linux uninstall process, Added Gnome and wget for Linux installation and .bashrc file change.
  .gitignore
  doc/source/installer.rst
  doc/source/user_guide.rst
  linux/debian/installer.sh
  linux/non-debian/installer_CentOS.sh
  src/ansys/tools/installer/assets/scripts/uninstaller_ubuntu.sh
  src/ansys/tools/installer/assets/scripts/uninstaller_yum.sh
  src/ansys/tools/installer/constants.py
  src/ansys/tools/installer/find_python.py
  src/ansys/tools/installer/installed_table.py
  src/ansys/tools/installer/linux_functions.py
  src/ansys/tools/installer/main.py
  src/ansys/tools/installer/uninstall.py
Labels: documentation, enhancement, maintenance

#253 Added vscode launch to Manage Python Environments tab
  doc/source/installer.rst
  setup.nsi
  src/ansys/tools/installer/configure.py
  src/ansys/tools/installer/installed_table.py
  src/ansys/tools/installer/vscode.py
Labels: documentation, maintenance

#262 feat: add reqs and condition
  .github/workflows/autoupdate_python_versions.yml
  scripts/requirements.txt
  src/ansys/tools/installer/main.py
Labels: bug, maintenance

#263 chore: update Python versions
  src/ansys/tools/installer/constants.py
Labels: enhancement

#272 enable fail-fast: false on Linx build stages
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#274 Linux fedora build fix
  .github/workflows/ci_cd.yml
Labels: maintenance
