Repository ansys/python-installer-qt-gui, pull requests merged in 2024-03, with the labels that each got.

#230 Uninstaller script and configure virtual environment create & search path.
  .github/workflows/ci_cd.yml
  .gitignore
  doc/source/installer.rst
  frozen.spec
  linux/debian/installer.sh
  src/ansys/tools/installer/assets/scripts/uninstaller_ubuntu.sh
  src/ansys/tools/installer/assets/scripts/uninstaller_yum.sh
  src/ansys/tools/installer/configure.py
  src/ansys/tools/installer/configure_json.py
  src/ansys/tools/installer/constants.py
  src/ansys/tools/installer/create_virtual_environment.py
  src/ansys/tools/installer/find_python.py
  src/ansys/tools/installer/installed_table.py
  src/ansys/tools/installer/linux_functions.py
  src/ansys/tools/installer/main.py
  src/ansys/tools/installer/uninstall.py
Labels: documentation, enhancement, maintenance

#236 feat: adding Windows uninstall config and venvs sections
  uninstall.nsi
Labels: enhancement

#240 fix: launch spyder on linux failing due to missing findstr command
  src/ansys/tools/installer/installed_table.py
Labels: bug
