Repository ansys/python-installer-qt-gui, pull requests merged in 2024-11, with the labels that each got.

#377 fix: Windows DLL load issues related to PyInstaller
  src/ansys/tools/installer/main.py
Labels: bug

#390 fedora build fix, revert to fedora:40
  .github/workflows/ci_cd.yml
Labels: maintenance

#391 fix: signtool
  .github/workflows/ci_cd.yml
Labels: bug, maintenance
